In [3]:
import pandas as pd
df = pd.read_csv("../data/matches.csv")

In [10]:
result_df= df[df["winner"]== df["toss_winner"]].groupby("winner").size().reset_index(name="count")
result_df.rename(columns={"winner":"Teams","0":"count"})

                          Teams  count
0           Chennai Super Kings     42
1               Deccan Chargers     19
2              Delhi Daredevils     33
3                 Gujarat Lions     10
4               Kings XI Punjab     28
5          Kochi Tuskers Kerala      4
6         Kolkata Knight Riders     44
7                Mumbai Indians     48
8                 Pune Warriors      3
9              Rajasthan Royals     34
10       Rising Pune Supergiant      5
11      Rising Pune Supergiants      3
12  Royal Challengers Bangalore     35
13          Sunrisers Hyderabad     17